@page "/"

<Header />
<section class="page">
	<div class="groups picked-for-you">
		<h1>Picked for you</h1>
		<div class="box-container">
			@for (int i = 0; i < 10; i++)
			{
				<div class="box">
					<img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png" />
					<div class="description">
						<h6>Södra Teatern</h6>
						<p>Club</p>
					</div>
				</div>
			}
		</div>
	</div>
	<div class="groups discover-new-places">
		<h1>Discover new places</h1>
		<div class="box-container">
			@for (int i = 0; i < 10; i++)
			{
				<div class="box">
					<img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png" />
					<div class="description">
						<h6>Södra Teatern</h6>
						<p>Club</p>
					</div>
				</div>
			}
		</div>
	</div>
	<div class="groups popular-right-now">
		<h1>Popular right now</h1>
		<div class="box-container">
			@for (int i = 0; i < 10; i++)
			{
				<div class="box">
					<img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png" />
					<div class="description">
						<h6>Södra Teatern</h6>
						<p>Club</p>
					</div>
				</div>
			}
		</div>
	</div>
</section>
<WhatsNow />