@page "/search"
@rendermode InteractiveServer
@inject IGooglePlacesService googlePlaceService

@if(!isSearch)
{
	<SearchFilter isSearchCallBack="isSearchCallbackHandler"/>
}
else
{
	<NavLink @onclick=@(() => isSearch = !isSearch)>
		<img class="return-logo" src="https://cdn.iconscout.com/icon/free/png-256/free-back-arrow-1767515-1502579.png" />
	</NavLink>
	<div class="container animate__animated animate__fadeInDown">
		@foreach(var place in textSearchData.places)
		{
			<div class="result-card">
				<div class="image-container">
					<img src="@(googlePlaceService.GetPlacePhoto(place.photos[0].name))" />
				</div>
				<div class="group">
					<p class="name">@place.displayName.text</p>
					<p class="type">@place.primaryTypeDisplayName.text</p>
				</div>
			</div>
		}
	</div>
}

@code {
	TextSearchDTO textSearchData = new TextSearchDTO();

	bool isSearch = false;

	void isSearchCallbackHandler(TextSearchDTO TextSearchData)
	{
		isSearch = !isSearch;
		textSearchData = TextSearchData;
	}
}
