.return-logo {
    height: 4rem;
    padding: 1rem 0 0 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 1rem 6rem 1rem;
}

.result-card {
    display: flex;
    border: solid 1px;
    border-radius: 10px;
    width: 100%;
    /*margin-bottom: 1rem;*/
}
    .result-card img {
        height: 7rem;
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

.image-container {
    border-right: 1px solid;
    width: 50%;
}

.group {
    width: 50%;
    margin-left: 1rem;
}
    .group .name {
        font-weight: 700;
        font-size: 14px;
        margin: 0;
        padding-top: 1rem;
    }
    .group .type {
        font-size: 12px;
    }