* {
    text-decoration: none;
}

nav {
    display: flex;
    height: 5rem;
    width: 100%;
    border-top: outset;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.item {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

img {
    height: 2rem;
    opacity: 50%;
}

h6 {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: small;
    font-weight: 700;
    color: black;
    opacity: 50%;
}

a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.clicked {
    opacity: 100%;
}
