@inject NavigationManager NavigationManager

<nav>
	<div class="item home">
		<a href="/">
			<img src="Icons/Home_icon.png" />
			<h6>Home</h6>
		</a>
	</div>
	<div class="item home">
		<a href="/search">
			<img src="Icons/Search_icon.png" />
			<h6>Search</h6>
		</a>
	</div>
	<div class="item home">
		<a>
			<img src="Icons/Routes_icon.png" />
			<h6>Routes</h6>
		</a>
	</div>
	<div class="item profile">
		<a>
			<img class="clicked" src="Icons/Profile_icon.png" />
			<h6 class="clicked">Profile</h6>
		</a>
	</div>
</nav>

@code {
	
}
