#WhatsOpenNow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: fixed;
    bottom: 6rem;
    right: 1rem;
    height: 4.5rem;
    width: 14rem;
    border-radius: 20px;
    background-color: #f8f398;
}

    #WhatsOpenNow h6 {
        font-weight: 700;
        margin: 0;
    }

    #WhatsOpenNow img {
        height: 2.5rem;
        font-weight: 700;
        margin: 0;
    }
